
.todos1 {

	width: 70%;
	height: 30px;
	margin-left: 15%;
	text-align: left;
	/* background-color: transparent; */
	border-radius: 10px;
}

.todos2 {

	width: 70%;
	height: 30px;
	margin-left: 15%;
	text-align: left;
	background-color: transparent;
	border-radius: 10px;
}

.todos3 {

	width: 70%;
	height: 30px;
	margin-left: 15%;
	text-align: left;
	background-color: transparent;
	border-radius: 10px;
}

.todos4 {

	width: 70%;
	height: 30px;
	margin-left: 15%;
	text-align: left;
	background-color: transparent;
	border-radius: 10px;
}

.todos5 {

	width: 70%;
	height: 30px;
	margin-left: 15%;
	text-align: left;
	background-color: transparent;
	border-radius: 10px;
}

.todos6 {

	width: 70%;
	height: 30px;
	margin-left: 15%;
	text-align: left;
	background-color: transparent;
	border-radius: 10px;
}


.todos1close {
	display: none;
	background-color: tomato;
	width: 10%;
	height: 30px;
	border-radius: 50px;
	cursor: pointer;
}

.todos2close {
	display: none;
	background-color: tomato;
	width: 10%;
	height: 30px;
	border-radius: 50px;
	cursor: pointer;
}

.todos3close {
	display: none;
	background-color: tomato;
	width: 10%;
	height: 30px;
	border-radius: 50px;
	cursor: pointer;
}

.todos4close {
	display: none;
	background-color: tomato;
	width: 10%;
	height: 30px;
	border-radius: 50px;
	cursor: pointer;
}

.todos5close {
	display: none;
	background-color: tomato;
	width: 10%;
	height: 30px;
	border-radius: 50px;
	cursor: pointer;
}

.todos6close {
	display: none;
	background-color: tomato;
	width: 10%;
	height: 30px;
	border-radius: 50px;
	cursor: pointer;
}