.big-container {
	display: none;
	grid-template-columns: repeat(1, 100%);
	width: 60%;
	height: 800px;
	background-color: blanchedalmond;
	margin-left: 23%;
	margin-top: 100px;
	align-items: center;
	text-align: center;
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	border-radius: 8px;
}

.first-container {
	display: grid;
	grid-template-columns: repeat(1, 100%);
	width: 100%;
	height: 100%;
	align-items: center;
	text-align: center;
}

.list {
	display: grid;
	grid-template-columns: repeat(2, 70%);
	width: 100%;
	height: 100%;
	margin-top: -20%;
	text-decoration: none;
}


.header {
	width: 100%;
	height: 30%;
	align-items: center;
	text-align: center;
}

.text-header {
	margin-top: 10%;
	font-size: 50px;
	font-weight: bolder;
}

.forms {
	width: 100%;
	height: 100%;
	align-items: center;
	text-align: center;
}

.inputs {
	text-decoration: none;
	width: 55%;
	height: 15%;
	border-radius: 8px;
	border: black;
	margin-top: 10%;
}

.button {
	text-decoration: none;
	width: 13%;
	height: 15%;
	border-radius: 5px;
	background-color: brown;
	color: white;
	border: black;
	cursor: pointer;
	transition: 0.5s;
}

.button:hover {
	background-color: red;
}
.todos {

	width: 50px; 
	height: 50px;  
	margin-left: 15%;
	text-align: left;
	border-radius: 10px;
	list-style-type: none;
	text-decoration: none;
}


.todosclose {
	background-color: tomato;
	width: 10%;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
}

.icon {
	display: flex;
	justify-content: end;
	cursor: pointer;
}

.image {
	width: 50px;
	height: 50px;
}

.login {
	display: grid;
	align-items: center;
	text-align: center;
	margin-top: 10%;
	margin-left: 30%;
	width: 50%;
	height: 500px;
	font-family: 'Barlow', sans-serif;
	background-color: blanchedalmond;
	font-size: 20px;
	border-radius: 8px;
}

.register {
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
	color: black;
}


.register:hover {
	color: blue;
}

.sign {
	width: 150px;
	height: 30px;
	text-decoration: none;
	border-radius: 3px;
	font-size: 20px;
	border: 0;
	background-color: blue;
	color: white;
	cursor: pointer;
}

/* #sign:hover {

} */